body,
html {
    overflow: hidden !important;
    font-family: Segoe UI;
}
.navbar {
    border-bottom: 0px;
    border-bottom: 1px solid !important;
}
.nav-logo {
    float: left;
    width: 110px;
    margin-left: 10px;
    margin-right: 80px !important;
}
.navbar-content {
    width: 100% !important;
    min-width: 0px !important;
    max-width: 100000px !important;
}
select,
input[type=text],
input[type=number],
textarea {
    font-size: 11px;
    font-family: Segoe UI;
    border: 1px solid;
}
#darkPage #left li {
    width: calc(100% - 10px);
	float: left;
    overflow: hidden;
}
#previousStream {
    width: 100%;
    height: 100%;
}
#previousStream .header {
	width: 100%;
    height: 30px;
    border-bottom: 1px solid;
}
#previousStream .header a,
#previousStream .header span {
    float: left;
    width: auto;
    border-right: 1px solid;
    text-decoration: none;
    font-weight: bold;
    height: 30px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#previousStream .header a:hover,
#previousStream .header span:hover {
}
#previousStream .header span {
    cursor: pointer;
    float: right;
    border-right: none;
    border-left: 1px solid;
}
#previousStream .header div {
    
    font-weight: normal;
    width: 450px;
    font-size: 11px;
    border: 1px solid;
    display: none;
    position: absolute;
    right: 0px;
    top: 30px;
    padding: 10px;
}
#previousStream #previousStreamView {
    width: 100%;
    height: calc(100% - 30px);
}
#profile {
    width: 100%;
    height: 100%;
}
#profile .buttons {
    clear: both;
    margin-top: 10px;
    bottom: 100px;
    float: right;
    right: 0px;
}
#profile .buttons button img {
    width: 16px;
    margin-right: 5px;
}
#profile .live {
    right: 5px;
    top: 5px;
    position: absolute;
}
#profile .live img {
    width: 80px;
}
#profile #dashboardComments {
    width: 100%;
}
#profile .entry {
    border: 1px solid;
    margin-top: 10px;
    width: 100%;
    float: left;
    clear: both;
    padding-bottom: 0px;
}
#profile .userEntry {
    background: transparent !important;
    margin-top: 5px;
}
#profile .entry .header {
    float: left;
    display: block;
    clear: both;
    width: calc(100% - 30px);
    padding: 6px;
}
#profile .userEntry .header {
    width: 100% !important;
}
#profile .entry .header img {
    float: left;
    display: block;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}
#profile .entry .header div {
    float: left;
    display: block;
    width: calc(100% - 55px);
}
#profile .entry .header div i{
    margin-right: 5px;
}

#profile .entry .options {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}
#profile .entry .options .optionsMenu {
	position: absolute;
    margin-top: 2px;
    right: 20px;
    border: 1px solid;
}
#profile .entry .options .optionsMenu li {
    float: left;
    clear: both;
    
    padding: 10px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}
#profile .entry .options .optionsMenu li:hover {
    float: left;
    clear: both;
}
#profile .entry .header div strong {
    text-decoration: none;
    float: left;
    display: block;
    
    font-size: 16px;
}
#profile .entry .header div strong img {
    margin-top: 3px;
    width: auto;
    height: auto;
    margin-right: 0px;
}
#profile .entry .header div small {
    float: left;
    display: block;
	text-decoration: none;
    clear: both;
    font-size: 12px;
}
#profile .entry .content {
    float: left;
    clear: both;
    width: 100%;
    padding: 6px;
    padding-top: 0px;
}
#profile .entry .content .stream img {
    float: left;
    border-radius: 6px 0px 0px 6px;
    display: block;
    width: 200px;
    height: 141px;
}
#profile .entry .content .stream .play {
    border-radius: 0px;
    position: absolute;
    margin-left: 70px;
    width: 60px;
    height: 60px;
    margin-top: 40px;
}
#profile .entry .content .stream div {
    float: left;
    display: block;
    width: calc(100% - 200px);
    padding: 10px;
    padding-left: 20px;
    height: 141px;
}
#profile .entry .content .stream div img {
    width: auto;
    height: auto;
    border-radius: 0px;
}
#profile .entry .content .stream div div {
    width: auto;
    padding: 0px;
    height: auto;
}
#profile .entry .content .stream div strong {
    font-size: 14px;
    
    display: block;
    float: left;
    clear: both;
}
#profile .entry .content .stream div small {
    font-size: 14px;
    
    display: block;
    float: left;
    clear: noneh;
}
#profile .entry .content .stream {
    float: left;
    border: 1px solid;
    border-radius: 6px;
    clear: both;
    width: 100%;
    height: 143px;
}
#profile .entry .content .stream div .icon {
    display: block;
    float: left;
    margin-top: 5px !important;
    margin-bottom: 0px !important;
    width: 16px;
    clear: both;
    margin-right: 5px !important;
    margin-left: 0px !important;
}
#profile .entry .content .stream div .label {
    display: block;
    margin: 0px;
    padding: 0px !important;
    font-weight: normal;
    float: left;
    margin-top: 5px;
}
#profile .entry .content .stream div div img {
    margin: 3px;
    margin-top: 0px;
    margin-bottom: 6px;
}
#profile .entry .content .text {
    float: left;
    clear: both;
    width: 100%;
}
#profile .entry .content .image {
    float: left;
    clear: both;
    width: 100%;
}
#profile .entry .like {
    cursor: pointer;
    float: left;
    padding-left: 5px;
    border-top: 1px solid !important;
    padding-top: 3px;
    padding-bottom: 3px;
    clear: both;
    width: 100%;
    
}
#profile .entry .like i {
    float: left;
    margin-right: 5px;
}
#profile .entry .comment {
    border-top: 2px solid;
    float: left;
    clear: both;
    width: 100%;
    padding: 6px;
    margin-bottom: 0px;
}
#profile .entry .comment img {
    float: left;
    width: 30px;
    height: 30px;
}
#profile .entry .comment input {
    border: none;
    width: calc(100% - 30px);
    margin: 0px;
    height: 30px;
}
#profile .entry .reply {
    border-top: 1px solid;
    padding-top: 5px;
    float: left;
    clear: both;
    width: 100%;
}
#profile #profileHeader {
    width: 100%;
    float: left;
    clear: both;
    height: 100%;
    overflow: hidden;
}
#profile #profileHeader .header {
    position: relative;
    height: 330px;
    width: 100%;
    float: left;
    clear: both;
    overflow: hidden;
}
#profile #profileHeader .header img {
    width: 100%;
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: 0;
    right: 0;
    margin: auto;
}
#profile #profileHeader .userBox {
    position: absolute;
    right: 20px;
    top: 20px;
}
#profile #profileHeader .userBar {
    float: left;
    clear: both;
    border-radius: 12px;
    border: 2px solid;
    -webkit-box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.75);
}
#profile #profileHeader .userBar img {
    float: right;
    border-radius: 0px 12px 12px 0px;
}
#profile #profileHeader .userBar .info {
    float: left;
    padding: 5px;
    
    width: 290px;
}
#profile #profileHeader .userBar .info i {
	margin-right: 5px;
}
#profile #profileHeader .userBar .info strong {
    font-weight: bold;
    font-size: 13px;
}
#profile #profileHeader .userBar .info strong span {
    font-size: 13px;
}
#profile #profileBottom {
    position: relative;
    left: 0px;
    top: 280px;
    width: 100%;
    height: calc(100% - 280px);
}
#profile #profileBottom .fade i {
	margin-right: 5px;
}

#profile #profileBottom .fade {
    position: absolute;
    padding-left: 10px;
    top: 0;
    opacity: 1 !important;
    z-index: 100;
    height: 60px;
    float: left;
    clear: both;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0);
}
#profile #profileBottom .fade a {
    display: block;
    margin-left: 10px;
    height: 40px;
    font-size: 15px;
    
    text-decoration: none;
    cursor: pointer;
    float: left;
    margin-top: 10px;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid;
    border-radius: 6px 6px 0px 0px;
    padding-top: 9px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}
#profile #profileBottom .fade a.active,
#profile #profileBottom .fade a:hover {
    background: #000;
}
#profile #profileContent {
    position: absolute;
    top: 60px;
    height: calc(100% - 60px);
    width: 100%;
    padding: 20px;
    padding-top: 10px;
    float: left;
    clear: both;
    overflow: auto;
}
#settings .tabBar {
	width: 100%;
	height: 30px;
	float: left;
	clear: both;
}
#settings .tabBar li {
    height: 20px;
    display: block;
    float: left;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    cursor: pointer;
    text-align: center;
    
    text-decoration: none;
    font-weight: bold;
}

.highlight
{
	border-bottom: 1px solid;
}

.normal
{
	border-bottom: 1px solid;
}

#settings .tabBar li.active,
#settings .tabBar li:hover {
}
#settingsContent {
    padding: 10px;
    float: left;
    clear: both;
}
#darkPage #left li .header {
    width: 100%;
    border-bottom: 1px solid;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 30px;
    
    font-weight: bold;
    cursor: pointer;
}
#darkPage #left li .content {
    width: 190px;
    border-bottom: 1px solid;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 30px);
}
#darkPage {
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 100;
    width: 100%;
    height: calc(100% - 50px);
}
#darkPage #left {
    float: left;
    width: 200px;
    border-right: 1px solid;
    height: 100%;
}
#darkPage #right {
    float: left;
    width: calc(100% - 201px);
    height: 100%;
}
#darkPage #userList {
    padding: 20px;
    float: left;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
#darkPage .userProfile {
    float: left;
    display: block;
    width: 142px;
    height: 185px;
    margin: 5px;
    border: 1px solid;
    border-radius: 5px;
}
#darkPage .userProfile div {
    border: 1px solid;
    background: url(http://cdn2.younow.com/images/nothumb.jpg) no-repeat;
    background-size: 1420px 142px;
    float: left;
    clear: both;
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
}
#darkPage .userProfile div img {
    height: 140px;
    float: left;
    clear: both;
    display: block;
    position: relative;
    margin-top: 0px;
}
#darkPage .userProfile div span {
    padding-left: 5px;
    position: relative;
    margin-top: -30px;
    float: left;
    clear: both;
    z-index: 500;
    line-height: 30px;
    font-weight: bold;
    display: block;
    width: 173px;
    height: 30px;
    font-size: 14px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0);
}
#darkPage .userProfile img {
    float: left;
    margin-top: 3px;
    margin-right: 3px;
}
#darkPage .userProfile strong {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    white-space: nowrap;
    line-height: 22px;
    display: block;
    float: left;
    width: 130px;
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    clear: both;
}
#darkPage .userProfile small {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    display: block;
    float: left;
    clear: both;
}
#darkPage h2 {
    margin-top: 0px;
}
#darkPage h3 {
    margin-top: 0px;
}
#darkPage h4 {
    margin-top: 0px;
}
#darkPage #left strong {
    margin-top: 0px;
    height: 20px;
    line-height: 20px;
}
#darkPage #left a {
}
#trendingPeople,
#trendingTags,
#featuredUsers,
#friends {
    overflow: hidden;
    overflow-y: auto;
}
#stream {
    width: 100%;
    height: 100%;
}
#streamInfo {
    width: 100%;
    line-height: 30px;
    
    height: 30px;
    float: left;
    clear: both;
    border-bottom: 1px solid;
}
#streamInfo i {
	margin-right: 5px;
}

#stream .outer {
    width: 100%;
    height: calc(100% - 170px);
    float: left;
    clear: both;
    border-bottom: 1px solid;
}
#stream .stream {
    width: calc(100% - 360px);
    height: 100%;
    float: left;
}
#stream #streamView {
    width: 100%;
    height: calc(100% - 30px);
}
#stream #streamBar {
    width: 100%;
    height: 30px;
	padding-left: 5px;
	padding-right: 5px;
    border-top: 1px solid;
}
#stream #streamInfo .right {
    float: right;
    font-weight: bold;
    margin-right: 5px;
}
#stream #streamBar .item {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
#stream #streamBar .item i {
    float: left;
    margin-top: 2px;
    height: 16px;
    margin-right: 5px;
}
#stream #chat {
    float: right !important;
    width: 360px !important;
    border-left: 1px solid;
    height: 100%;
    float: right;
}
#stream #chat a.tab i {
	margin-right: 5px;
}

#stream #chat a.tab {
    cursor: pointer;
    
    padding-left: 10px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    float: left;
    border-bottom: 1px solid;
    height: 25px;
    line-height: 25px;
    width: 119px;
    border-right: 1px solid;
}
#stream #chat a.last {
    border-right: none !important;
    width: 120px !important;
}
#stream #chat a:hover.tab,
#stream #chat a.active {
}
#stream #infoList {
    display: none;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 25px);
    clear: both;
}
#stream #infoList h2 {
    padding-left: 5px;
    width: 100%;
    font-size: 14px;
    float: left;
    clear: both;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid;
}
#stream #infoList div.label {
    float: left;
    text-align: left;
    clear: both;
    
    font-weight: bold;
    width: 140px;
}
#stream #infoList div.value {
    float: right;
    font-size: 11px;
    width: 190px;
    text-align: right;
}
#stream #viewerList {
    display: none;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 25px);
    clear: both;
}
#stream #viewerList li {
    margin: 5px;
    clear: both;
    float: left;
}
#stream #viewerList li img {
    float: left;
    margin-right: 5px;
}
#stream #viewerList li span {
    font-family: Segoe UI;
    font-size: 14px;
    display: block;
    float: left;
    max-width: 270px;
    
    font-weight: bold;
}
#stream #viewerList li small {
    font-family: Segoe UI;
    font-size: 12px;
    display: block;
    float: left;
    clear: both;
    max-width: 270px;
}
#stream #chatMessages {
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 170px);
    clear: both;
}
#stream #chatMessages li {
    margin: 5px;
    clear: both;
    float: left;
}
#stream #chatMessages li img {
    float: left;
    margin-right: 5px;
}
#stream #chatMessages li span {
    font-family: Segoe UI;
    font-size: 12px;
    display: block;
    float: left;
    max-width: 270px;
}
#stream #chatOptions {
    padding: 10px;
    
    width: 360px;
    height: 95px;
    border-top: 1px solid;
}
#stream #chatOptions input {
    margin-left: 5px;
    margin-right: 5px;
}
#stream #chat textarea {
    height: 50px;
    width: 360px;
    padding: 5px;
    border: 1px solid;
    max-width: 360px;
    max-height: 50px;
}
#stream #trendingList {
    height: 140px;
    width: 100%;
	float: left;
	clear: both;
    padding: 10px;
    overflow-x: auto;
    white-space: nowrap;
}
#stream #trendingList img {
    width: 133px;
    height: 100px;
    margin-right: 5px;
    display: inline-block;
}
#tooltip {
    
    position: absolute;
    z-index: 10000;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
#tooltip .img {
    float: left;
    width: 128px;
    height: 128px;
}
#tooltip .wide {
    width: 170px !important;
}
#tooltip .content {
    float: left;
    min-width: 200px;
}

#tooltip .title i {
	margin-right: 5px;
}

#tooltip .title {
    float: left;
    padding-top: 4px;
    padding-left: 12px;
    clear: both;
    width: 100%;
    height: 25px;
    
    font-weight: bold;
    font-size: 13px;
}
#tooltip .value {
    float: left;
    clear: both;
    margin-left: 10px;
    margin-top: 2px;
}
#tooltip .value i {
	margin-left: 2px;
	vertical-align: middle;
}
#tooltip .value span {
	vertical-align: middle;
    margin-left: 5px;
}
#expandArrow {
	float: right !important;
	width: 10px !important;
	height: 100% !important;
	border-left: 1px solid;
	cursor: pointer;
}

.arrowExpand {
	background: url(https://fluffyfishgames.github.io/img/arrowRight.png) center center no-repeat !important;
}

.arrowDeflate {
	background: url(https://fluffyfishgames.github.io/img/arrowLeft.png) center center no-repeat !important;
}

span {
}
.error {
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #f00;
    background: #a00;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
.line-clamp:after {
    background: none !important;
}
.user {
}
.ynicon-carrot-up {
    color: #777 !important;
}
.ynicon-user,
.ynicon-settings,
.ynicon-audience,
.ynicon-logout {
    color: #eee !important;
}

.icon {
	color: #eee !important;
}

button .icon {
	margin-right: 5px;
}

button {
	-webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
}

.btn-primary {
	background: #9ACD32 !important;
	border: 1px solid #999900 !important;
}

.btn-confirm {
	background: #777777 !important;
	border: 1px solid #444444 !important;
	
}

.